.cover-bg {
    background: linear-gradient(45deg, #75ebd9 0%, #58D6BF 20%, transparent 80%), linear-gradient(225deg, #35c7ff 0%, #55ddff 20%, transparent 80%), linear-gradient(135deg, purple, blue);
}