* {
    box-sizing: border-box;
    transition: 0.2s;
}

#blogs div {
    padding: 0 20px;
    margin: 30px 0;
    border-radius: 15px;
    background-color: #1c1c1c;
    border: solid 2px #0F0F0F;
    max-height: 135px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#blogs div:hover {
    background-color: #202020;
    border: solid 2px #000000;
}

#blogs a {
    color: #d0d1db;
    text-decoration: none;
}

#blogs h2 {
    margin: 10px 0;
}

#blogs p {
    font-size: 14px;
    margin: 0 0 0 25px;
}